{% extends "registration/registration_base.html" %}

{% load widget_tweaks %}

{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}

<div align="center" >
    <div class="container">
    <div style="max-width: 50%">
	<form method="post" action="">
	{% csrf_token %}

   		{% for field in form.visible_fields %}

    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
    </div>
    {% endfor %}
    	<input type="submit" value="{% trans 'Submit' %}" />
	</form>

</div>
</div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
