<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>ONLINE BIKE ACCESSORIES</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Online bike accessories, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="{% static 'backend/application/x-javascript'%}"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'backend/css/bootstrap.min.css'%}"  rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="{% static 'backend/css/style.css'%}" rel='stylesheet' type='text/css' />
<link href="{% static 'backend/css/font-awesome.css'%}" rel="stylesheet">
<script src="{% static 'backend/js/jquery.min.js'%}"> </script>
<!-- Mainly scripts -->
<script src="{% static 'backend/js/jquery.metisMenu.js'%}"></script>
<script src="{% static 'backend/js/jquery.slimscroll.min.js'%}"></script>
<!-- Custom and plugin javascript -->
<link href="{% static 'backend/css/custom.css'%}" rel="stylesheet">
<script src="{% static 'backend/js/custom.js'%}"></script>
<script src="{% static 'backend/js/screenfull.js'%}"></script>
<script src="{% static 'backend/js/Chart.js' %}"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}



			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});



		});
		</script>

<!----->

<!--pie-chart--->
<script src="{% static 'backend/js/pie-chart.js'%}" type="text/javascript"></script>
 <script type="{% static "backend/text/javascript" %}">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
<!--skycons-icons-->
<script src="{% static 'backend/js/skycons.js'%}"></script>
<!--//skycons-icons-->
</head>
<body>
<div id="wrapper">

<!----->
        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
	               <h1> <a class="navbar-brand" href="index.html">bikeax</a></h1>
			   </div>
			 <div class=" border-bottom">



            <!-- Brand and toggle get grouped for better mobile display -->

		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="drop-men" >
		        <ul class=" nav_1">

					<li class="dropdown" style="margin-right:90px;">
		              <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
		              <span class=" name-caret">{{ user }}<i class="caret"></i></span><i></i></a>
		              <ul class="dropdown-menu " role="menu">
		             <li><a href=".html"><i class="fa fa-user"></i>Edit Profile</a></li>
		              </ul>
		            </li>

		        </ul>
		     </div><!-- /.navbar-collapse -->
			<div class="clearfix">

     </div>

		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="{% url 'dashboard' %}" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                    </li>
                      <li>
                        <a href="{% url 'dashproduct' %}" class=" hvr-bounce-to-right"><i class="fa fa-product-hunt nav_icon "></i><span class="nav-label">Products</span> </a>
                    </li>
                      <li>
                        <a href="{% url 'dashcategory' %}" class=" hvr-bounce-to-right"><i class="fa fa-heart-o nav_icon "></i><span class="nav-label">Categories</span> </a>
                    </li>



					 <li>
                        <a href="{% url 'sales' %}" class=" hvr-bounce-to-right"><i class="fa fa-file-text-o  nav_icon"></i> <span class="nav-label">Sales Report</span> </a>
                    </li>

                    <li>
                        <a href="/user_detail/" class=" hvr-bounce-to-right"><i class="fa fa-male nav_icon"></i> <span class="nav-label">User Details</span> </a>
                    </li>





                </ul>
            </div>
			</div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">

  		<!--banner-->
		    <div class="banner">

				<h2>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Dashboard</span>
				</h2>
		    </div>
		<!--//banner-->
		<!--content-->
		<div class="content-top">
			{% block contentmain %}




		<div class="col-md-4 ">
			<div class="content-top-1">
			<div class="col-md-6 top-content">
				<h5>Tasks</h5>
				<label>8761</label>
			</div>
			<div class="col-md-6 top-content1">
				<div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
			</div>
			 <div class="clearfix"> </div>
			</div>
			<div class="content-top-1">
			<div class="col-md-6 top-content">
				<h5>Points</h5>
				<label>6295</label>
			</div>
			<div class="col-md-6 top-content1">
				<div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value"></span> </div>
			</div>
			 <div class="clearfix"> </div>
			</div>
			<div class="content-top-1">
			<div class="col-md-6 top-content">
				<h5>Cards</h5>
				<label>3401</label>
			</div>
			<div class="col-md-6 top-content1">
				<div id="demo-pie-3" class="pie-title-center" data-percent="75"> <span class="pie-value"></span> </div>
			</div>
			 <div class="clearfix"> </div>
			</div>
		</div>
		<div class="col-md-8 content-top-2">
			<!---start-chart---->
			<!----->
			<div class="content-graph">
			<div class="content-color">
				<div class="content-ch"><p><i></i>Chrome </p><span>100%</span>
				<div class="clearfix"> </div>
				</div>
				<div class="content-ch1"><p><i></i>Safari</p><span> 50%</span>
				<div class="clearfix"> </div>
				</div>
			</div>
			<!--graph-->
	<link rel="stylesheet" href="{% static 'backend/css/graph.css' %}">
	<!--//graph-->
						<script src="{% static 'backend/js/jquery.flot.js' %}"></script>
								<script>
								$(document).ready(function () {

									// Graph Data ##############################################
									var graphData = [{
											// Visits
											data: [ [6, 1300], [7, 1600], [8, 1900], [9, 2100], [10, 2500], [11, 2200], [12, 2000], [13, 1950], [14, 1900], [15, 2000] ],
											color: '#999999'
										}, {
											// Returning Visits
											data: [ [6, 500], [7, 600], [8, 550], [9, 600], [10, 800], [11, 900], [12, 800], [13, 850], [14, 830], [15, 1000] ],
											color: '#999999',
											points: { radius: 4, fillColor: '#7f8c8d' }
										}
									];

									// Lines Graph #############################################
									$.plot($('#graph-lines'), graphData, {
										series: {
											points: {
												show: true,
												radius: 5
											},
											lines: {
												show: true
											},
											shadowSize: 0
										},
										grid: {
											color: '#7f8c8d',
											borderColor: 'transparent',
											borderWidth: 20,
											hoverable: true
										},
										xaxis: {
											tickColor: 'transparent',
											tickDecimals: 2
										},
										yaxis: {
											tickSize: 1000
										}
									});

									// Bars Graph ##############################################
									$.plot($('#graph-bars'), graphData, {
										series: {
											bars: {
												show: true,
												barWidth: .9,
												align: 'center'
											},
											shadowSize: 0
										},
										grid: {
											color: '#7f8c8d',
											borderColor: 'transparent',
											borderWidth: 20,
											hoverable: true
										},
										xaxis: {
											tickColor: 'transparent',
											tickDecimals: 2
										},
										yaxis: {
											tickSize: 1000
										}
									});

									// Graph Toggle ############################################
									$('#graph-bars').hide();

									$('#lines').on('click', function (e) {
										$('#bars').removeClass('active');
										$('#graph-bars').fadeOut();
										$(this).addClass('active');
										$('#graph-lines').fadeIn();
										e.preventDefault();
									});

									$('#bars').on('click', function (e) {
										$('#lines').removeClass('active');
										$('#graph-lines').fadeOut();
										$(this).addClass('active');
										$('#graph-bars').fadeIn().removeClass('hidden');
										e.preventDefault();
									});

									// Tooltip #################################################
									function showTooltip(x, y, contents) {
										$('<div id="tooltip">' + contents + '</div>').css({
											top: y - 16,
											left: x + 20
										}).appendTo('body').fadeIn();
									}

									var previousPoint = null;

									$('#graph-lines, #graph-bars').bind('plothover', function (event, pos, item) {
										if (item) {
											if (previousPoint != item.dataIndex) {
												previousPoint = item.dataIndex;
												$('#tooltip').remove();
												var x = item.datapoint[0],
													y = item.datapoint[1];
													showTooltip(item.pageX, item.pageY, y + ' visitors at ' + x + '.00h');
											}
										} else {
											$('#tooltip').remove();
											previousPoint = null;
										}
									});

								});
								</script>
			<div class="graph-container">

								<div id="graph-lines"> </div>
								<div id="graph-bars"> </div>
							</div>

	</div>
	</div>
	<div class="clearfix"> </div>
	</div>



			{% endblock %}
		</div>
			       </div>
						 	       </div>
			<div class="clearfix"> </div>
	       </div>
	<script src="{% static 'backend/js/jquery.nicescroll.js'%}"></script>
	<script src="{% static 'backend/js/scripts.js'%}"></script>
	<!--//scrolling js-->
	<script src="{% static 'backend/js/bootstrap.min.js'%}"> </script>
</body>
</html>
