
 
 <!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Free Style A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
<link href="{% static 'frontend/css/bootstrap.css' %}" rel="stylesheet"  type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'frontend/js/jquery-1.11.0.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'frontend/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Free Style Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css' >
<link href='http://fonts.googleapis.com/css? family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="{% static 'frontend/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/js/easing.js' %}"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
				</script>
<!-- start menu -->
<script src="{% static 'frontend/js/simpleCart.min.js' %}"> </script>
<link href="{% static 'frontend/css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="{% static 'frontend/js/memenu.js' %}"></script>
<script>$(document).ready(function(){$(".memenu").memenu();});</script>
</head>
<body>
	<!--top-header-->
	<div class="container">
		<div class="pull-right">
		{% if request.user.is_authenticated %}
			<p><a href="{% url 'auth_logout' %}" class="simpleCart_empty">LOGOUT</a></p>
        {% else %}
             <a class="active" href="{% url 'auth_login' %}">LOGIN</a>
             <a class="active" href="{% url 'registration_register' %}">REGISTER</a>
        {% endif %}
		</div>
	</div>
	<div class="top-header">
	<div class="container">
		<div class="top-header-main">
			<div class="col-md-4 top-header-left">
				<div class="search-bar">
				<form action="/search/" method="get">{% csrf_token %}

					<input type="text" name="q" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
					<input type="submit" value="">
					</form>
				</div>
			</div>
			<div class="col-md-4 top-header-middle">
				<a href="/"><img src="{% static 'frontend/images/logo.png' %}" alt="" /></a>
			</div>
			<div class="col-md-4 top-header-right">
				<div class="cart box_1">

					{% if cart|length > 0 %}
						<a href="{% url 'cart_detail' %}">
						<h3>
							<div class="total">
							<span class="total">${{ cart.get_total_price }}</span>
							(<span class="simpleCart">{{ cart|length }} items}</span>)
						</div>
							<img src="{% static 'frontend/images/cart-1.png' %}" alt="" />
						</a>
						<div class="clearfix"> </div>
						{% else %}
						Your cart is empty.

				{% endif %}

					</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--top-header-->
	<!--bottom-header-->
	<div class="header-bottom">
		<div class="container">
			<div class="top-nav">
				<ul class="memenu skyblue"><li class="active"><a href="/">Home</a></li>
				{% if categories %}
					{% for category in categories %}
					<li class="grid"><a href="{% url 'category' pk=category.pk %}">{{ category.Name }}</a></li>
					{% endfor %}
					{% endif %}

			<div class="clearfix"> </div>
		</div>
	</div>
 
	
	            <h4> DELIVERY INFORMATION</h4>
				<P>Kreedsgears has a transparent and clear shipping policy for all orders placed on our website, without any special exceptions.  

Just because shipping is free doesn't mean it should take a long time. We understands that getting your purchase quickly is important to you, so we ensure best possible methods are being followed to deliver the purchase to your doorstep.

We are committed to delivering your order accurately, in good condition, and always on time promised by us in our website. We offer FREE Shipping (specified on the Product detail page) on selected products ordered through our website.

Each order may be shipped only to a single destination address specified at the time of payment for that order. If you wish to ship products to different addresses, you shall need to place multiple orders. We make our best efforts to ship each item in your order within 2-4 working days of the order. However in some cases, we may take longer, up to 5 working days, depending on the pin-code serviceability area and the mode of payment chosen by the customer.
In the unlikely event that we are not able to ship your order completely within 7 working days of the order(case wise exceptions) , we shall cancel the remaining unshipped part of the order, and send you an email informing you about the same. In such cases, your payment against the unshipped part of the order shall be refunded, in the manner you have made the payment*.

We ship on all week days (Monday to Saturday), excluding public holidays. To ensure that your order reaches you in the fastest time and in good condition, we only ship through reputed courier agencies. While we shall strive to ship all items in your order together, this may not always be possible due to product characteristics, or availability.

If you believe that the product is not in good condition, or if the packaging is tampered with or damaged, before accepting delivery of the goods, please refuse to take delivery of the package, and call our Customer Care or drop in an email at kreedsgears@gmail.com, mentioning your order reference number. We shall make our best efforts to ensure that a replacement delivery is made to you at the earliest

Please note all items (including gifts) will be shipped with an invoice mentioning the price, as per Indian Tax Regulations.

 

</P>
	
	



	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-top">
			<div class="col-md-3 footer-left">
					<h3><a href="aboutus/">ABOUT US</a></h3>
					
				</div>
				<div class="col-md-3 footer-left">
					<h3><a href="privacy/"> PRIVACY POLICY</a></h3>
					
				</div>
				<div class="col-md-3 footer-left">
					<h3><a href="terms/">TERMS & CONDITIONS</a></h3>
					
				</div>
				<div class="col-md-3 footer-left">
					<h3><a href="info/">DELIVERY INFORMATION</a></h3>
					
				</div>	
			</div>
		</div>
	</div>
	<!--end-footer-->
	<!--end-footer-text-->
	<div class="footer-text">
		<div class="container">
			<div class="footer-main">
				<p class="footer-class">© 2015 Free Style All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
			</div>
			<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
								</script>

	</div>
	<!--end-footer-text-->
</body>
</html>

